/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #050426;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 1.5em;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.registration {
  display: none;
}

#check:checked ~ .registration {
  display: block;
}

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input.button {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}